@import 'https://fonts.googleapis.com/css?family=Roboto';

#app{
	display: block;
}
.message-wrapper{
	font-family: Roboto;
}
.message{
	margin-bottom: 20px;
	-webkit-animation: 500ms 10s leave cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}
.message-enter{
	-webkit-animation: 500ms show cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
}
.message-leave{
	-webkit-animation: 500ms leave cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}
.text{
	position: relative;
	background-color: #2196F3;
	color: white;
	padding: 10px;
	margin-right: 20px;
	box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.3);
	align-self: flex-end;
}
.message-inner{
	display: flex;
	flex-direction: column;
}
.text:after{
	position: absolute;
	top: 0;
	right: -20px;
	content: '';
	border-top: #2196F3 solid 10px;
	border-left: #2196F3 solid 10px;
	border-bottom: transparent solid 10px;
	border-right: transparent solid 10px;
}
.user{
	color: #a8a8a8;
	order: 2;
	margin-right: 21px;
	margin-top: 5px;
	font-size: 10pt;
	text-shadow: 0px 1px 3px rgba(50, 50, 50, 0.3);
	align-self: flex-end;
}
.time{
	display: none;
}

@-webkit-keyframes show{
	from{
		margin-right: -50%;
		height: 0;
	}
	to{
		margin-right: 0;
		height: auto;
	}
}
@-webkit-keyframes leave{
	from{
		margin-right: 0;
		height: auto;
	}
	to{
		margin-right: -50%;
		height: 0;
	}
}
